body {
  font-family: 'Lato', sans-serif;
}

#status {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 55px;
  padding-top: 4.5em;
  padding-bottom: .43em;
  animation-name: loaderFadeNoOp;
  animation-duration: 1s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

#spinner {
  margin: 0 auto;
  margin-top: 3em;
  position: relative;
  text-align: center;
  animation-name: loaderFade;
  animation-duration: 1s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

#loading-screen {
  height: 653.483px;
  animation-name: loaderFade;
  animation-duration: 1s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

.post {
  opacity: 0;
  padding-top: 0em;
  padding-bottom: 0em;
  height: 0px;
  width: 100%;
  margin: 0 auto;
  padding-top: 4.6em;
  padding-bottom: 4.6em;
}

.name {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 75px;
  padding-bottom: .43em;
}

.profile-picture {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: 0 auto;
}

.message {
  padding-top: 2em;
  width: 66%;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  font-style: italic;
}

@keyframes loaderFade {
  0% {
  }
  100% {
    opacity: 0;
    padding-top: 0em;
    padding-bottom: 0em;
    height: 0px;
  }
}

@keyframes loaderFadeNoOp {
  0% {
  }
  100% {
    padding-top: 0em;
    padding-bottom: 0em;
    height: 0px;
  }
}

@keyframes standardFade {
  0% {
    opacity: 0;
    padding-top: 0em;
    padding-bottom: 0em;
    height: 0px;
  }
  25% {
    opacity: 1;
    padding-top: 5em;
    padding-bottom: 0em;
    height: 653.483px;
  }
  75% {
    opacity: 1;
    padding-top: 5em;
    padding-bottom: 0em;
    height: 653.483px;
  }
  100% {
    opacity: 0;
    padding-top: 0em;
    padding-bottom: 0em;
    height: 0px;
  }
}

@keyframes finalFade {
  0% {
    opacity: 0;
    padding-top: 0em;
    padding-bottom: 0em;
    height: 0px;
  }
  25% {
    opacity: 1;
    padding-top: 5em;
    padding-bottom: 0em;
    height: 653.483px;
  }
}

#post0 {
  animation-name: standardFade;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#post1 {
  animation-name: standardFade;
  animation-duration: 5s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

#post2 {
  animation-name: standardFade;
  animation-duration: 5s;
  animation-delay: 11s;
  animation-fill-mode: forwards;
}

#post3 {
  animation-name: standardFade;
  animation-duration: 5s;
  animation-delay: 15s;
  animation-fill-mode: forwards;
}

#post4 {
  animation-name: standardFade;
  animation-duration: 5s;
  animation-delay: 19s;
  animation-fill-mode: forwards;
}

#post5 {
  animation-name: standardFade;
  animation-duration: 5s;
  animation-delay: 23s;
  animation-fill-mode: forwards;
}

#post6 {
  animation-name: standardFade;
  animation-duration: 5s;
  animation-delay: 27s;
  animation-fill-mode: forwards;
}

#post7 {
  animation-name: standardFade;
  animation-duration: 5s;
  animation-delay: 31s;
  animation-fill-mode: forwards;
}
