body {
  font-family: 'Lato', sans-serif;
}

#status {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 55px;
  padding-top: 3em;
  padding-bottom: .43em;
}

#spinner {
  margin: 0 auto;
  margin-top: 3em;
  position: relative;
}

.post {
  width: 100%;
  margin: 0 auto;
  padding-top: 4.6em;
  padding-bottom: 4.6em;
}

.name {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 75px;
  padding-bottom: .43em;
}

.profile-picture {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: 0 auto;
}

.message {
  padding-top: 2em;
  width: 66%;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  font-style: italic;
}
